extends layout

block content
    h1= title
    p Maybe you should log in.
    form
        label.label-form
            | Email
            br
            input(type=email)
        label.label-form
            | Password
            br
            input(type=password)
        button.submit Signup

